// Variable declarartion
// Colours
$darkBlue: #006eff;
$lightBlue: #00a2ff;
$backgroundTheme: #f1f1f1;
$black: #2a2a2a;
$grey: #707070;
$tabletBreakpoint: 1200px;
$largetabletBreakpoint: 1650px;
$phoneBreakpoint: 650px;

//Other Variables
$navWidth: 100px;
$transition3: "0.3s !important";

//@mixins declarations
@mixin transition($n) {
  transition-duration: $n !important;
}
@mixin neo-pressed-light($depth: 1) {
  box-shadow: inset 4px * $depth 4px * $depth 6px * $depth rgb(221, 221, 221),
    3px * $depth 3px * $depth 2px * $depth white;
}
@mixin neo-unpressed-light($elevation: 1) {
  box-shadow: 5px * $elevation 5px * $elevation 8px * $elevation
      rgb(202, 202, 202),
    -5px * $elevation -5px * $elevation 8px * $elevation white;
}
@mixin neo-pressed-dark($depth: 1) {
  box-shadow: inset 4px * $depth 4px * $depth 6px * $depth rgb(0, 0, 0),
    3px * $depth 3px * $depth 2px * $depth rgb(70, 70, 70);
}
@mixin neo-unpressed-dark($elevation: 1) {
  box-shadow: 5px * $elevation 5px * $elevation 8px * $elevation rgb(0, 0, 0),
    -5px * $elevation -5px * $elevation 8px * $elevation rgb(70, 70, 70);
}
@mixin neo-pressed-light-custom-colour($col, $depth: 1) {
    box-shadow: inset 4px * $depth 4px * $depth 6px * $depth $col,
    3px * $depth 3px * $depth 2px * $depth white;
}
@mixin flex($horientation: center, $vorientation: center, $third: center) {
  display: flex;
  justify-content: $horientation;
  align-items: $vorientation;
  align-content: $third;
  flex-flow: row wrap;
}
@mixin dim($width: 100px, $height: 0px, $minwidth: 0px, $minheight: 0px) {
  width: $width;
  height: $height;
  min-width: $minwidth;
  min-height: $minheight;
}
@mixin pinkGradient {
  background: rgb(211, 28, 92);
  background: -moz-linear-gradient(
    90deg,
    rgba(211, 28, 92, 1) 0%,
    rgba(255, 129, 129, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(211, 28, 92, 1) 0%,
    rgba(255, 129, 129, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(211, 28, 92, 1) 0%,
    rgba(255, 129, 129, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d31c5c",endColorstr="#ff8181",GradientType=1);
}
@mixin headingText($minw: fit-content, $color: white) {
  @include font($color, 4rem, 700);
  @include dim(fit-content, fit-content, $minw, auto);
  text-align: center;
  letter-spacing: -1px;
}
@mixin paragraphText($color: black, $fontsize: 1.5rem, $lineHeight: 2.5rem) {
  @include font($color, $fontsize, 400);
  line-height: $lineHeight;
}
@mixin roundedButtonLight {
  @include neo-unpressed-light();
  background-color: $backgroundTheme;
  border: none;
  padding: 15px 40px;
  margin-left: 0px !important;
  margin: 30px;
  width: fit-content;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  @include transition(0.3s);
  @include font($grey, 2rem, 900);
  &:hover {
    @include neo-pressed-light(2);
    //background-color: $darkPink;
    color: $darkBlue;
    //transform: scale(1.1);
    @include transition(0.3s);
  }
}

//Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
@mixin font($color: #000, $size: 1.2rem, $weight: 600) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

@mixin updownanimation {
    @keyframes updown {
        0%{
            transform: translate3d(0px,0px,0);
        }
        33%{
            transform: translate3d(-10px,-30px,0);
        }
        66%{
            transform: translate3d(-20px,10px,0);
        }
        100%{
            transform: translate3d(0px,0px,0);
        }
    }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body,
html {
  background-color: $backgroundTheme;
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100vw !important;
  //zoom: 1;
}
body {
  overflow-y: hidden;
}
*::-webkit-scrollbar {
  background-color: $lightBlue;
  width: 12px;
}
*::-webkit-scrollbar-thumb {
  background-color: $black;
  border-radius: 50px;
  width: 12px;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: $darkBlue;
}
::selection {
  background: $lightBlue;
  color: white;
}

li {
  list-style-type: none !important ;
}
a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
section {
  @include dim(fit-content, fit-content, 100vw, 100vh);
  width: 100vw !important;
  margin: 0% 0px 0% 0px;
  //border: solid $darkBlue;
}
.navbarMobile{
    display: none;
}
.navbar {
  @include dim($navWidth, 100vh);
  position: fixed;
  display: block;
  overflow: visible;
  left: 0px;
  top: 0px;
  z-index: 100;
  background-color: $black;
  border-radius: 0px 58px 0px 0px;

  .logo {
    @include dim(90%, 90px);
    @include neo-unpressed-dark();
    @include flex(center, center, center);
    margin-top: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    img {
      width: 72px;
      height: 72px;
      border-radius: 50%;
      pointer-events: none;
    }
  }
  .navElementsUL {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    .navItem {
      @include transition(0.3s);
      justify-content: space-between;
      cursor: pointer;
      border-radius: 50%;
      text-align: center;
      width: 80%;
      height: $navWidth * 0.8;
      margin-top: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      //transition-duration: $transition3;
      &:hover {
        @include neo-pressed-dark();
        @include transition(0.3s);
      }
      &:first-child {
        margin-top: 40px;
      }
      svg {
        margin-top: 5px;
        margin-left: 2px;
        width: 30px;
        height: 30px;
        fill: #f1f1f1;
      }
    }
  }
  #activeNav {
    @include neo-unpressed-dark();
  }

  //media Queries
} //navbar Ends
body{
    @media only screen and (max-width: $tabletBreakpoint) {
        //position: relative;
        .navbar{
            //display:none !important;
            @include dim($navWidth, 100vh);
            position: fixed;
            display: none;
            overflow: visible;
            float: right;
            right: 0px;
            top: 0px;
            z-index: 100;
            background-color: $black;
            border-radius: 0px 58px 0px 0px;
        }
        .navMobile{
            // position: fixed;
            // display: block;
            // border: solid;
            // cursor: pointer;
            // right: 30px;
            // bottom: 30px;
            // width: 90px;
            // height: 90px;
            // .navbarMobile{
            //     @include flex();
            //     @include neo-unpressed-light();
            //     border-radius: 50%;
            //     cursor: pointer;
            //     text-align: center;
            //     &:hover{
            //         @include neo-pressed-light();
            //         cursor: pointer;
            //     }
            //     svg{
            //         cursor: pointer;
            //         margin-top: 30px;
            //     }
                .navElementsULMobile{
                    display: none;
                }
            // }
            display: none;
            position: fixed;
            right: 30px;
            bottom: 30px;
            .neo-circle{
                background-color: $backgroundTheme;
                @include dim(100%, 100%);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                text-align: center;
                border-radius: 50%;
                @include neo-unpressed-light();
                &:hover{
                    @include neo-pressed-light();
                    @include transition(0.5s);
                }
            }
        }


    }
}

#home {
  //background-color: #1e90ff;
  position: relative;
  @include flex();
  .introtextDiv {
    @include flex();
    flex-flow: column wrap;
    z-index: 1;
    @media (max-width: $largetabletBreakpoint) {
        order: 2;
        justify-content: center;
        width: 70vw;
        margin-top: -200px;
        margin-left: 50px;
        margin-bottom: 180px;
    }
    @media (max-width: $tabletBreakpoint) {
        order: 2;
        transform: scale(0.8);
        width: 130vw;
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        //border: solid;
    }
    .introText {
        @media (max-width: $tabletBreakpoint) {
            @include flex();
            margin-top: -150px;
            margin-left: 30px;
        }
      .hello {
        @include font($black, 2em, 700);
        transform: translateY(10px) translateX(5px);
        margin-top: 30px;
        @media (max-width: 834px) {
            justify-content: flex-start;
            //border: solid;
            width: 100vw;
        }
      }
      .srikantSahoo {
        @include font(rgb(0, 162, 255), 7rem, 700);
        @media (max-width: 834px) {
            transform: scale(0.7);
            width: 140vw;
            margin: 0;
            //border: solid;
        }  
        @media (max-width: 638px) {
            margin-top: -25px;
            margin-left: -10px;
            #sahoo{
                transform: translateY(-30px);
            }
        }

        svg {
          #Srikant,
          #_Sahoo {
            fill: $lightBlue;
            stroke: $lightBlue;
            @media (max-width: $tabletBreakpoint) {
                fill: #190088;
                stroke: #190088;
            }
          }
          //     stroke: $black;
          //     stroke-dasharray: 110% 99%;
          //     stroke-width: 3px;
          //     stroke-dashoffset: 100%;
          //     animation: stroke-offset 2.5s linear forwards;
          //     @include transition(0.3s);
          // }
          // @keyframes stroke-offset {
          //     0%{
          //         fill:$lightBlue;
          //     }
          //     50%{
          //         stroke-width: 0;
          //         stroke-dashoffset: 0%;
          //         fill: $black;
          //     }
          //     100%{
          //         stroke-width: 3px;
          //         stroke-dashoffset: 110% 99%;
          //         fill: $lightBlue;
          //     }
          // }
        }
      }
    }
    .CTAHome {
        max-width: 950px;
        width: 90vw;
        @include flex();
        flex-flow: row wrap;
        justify-content: flex-start;
        padding: 5px 40px;
        @media (max-width:$largetabletBreakpoint) {
            justify-content: center;
        }
        @media (max-width: $tabletBreakpoint) {
            padding: 0px 0px;
            margin-top: -40px;
            margin-bottom: 150px;
            justify-content: center;
            width: 110vw;
            // border: solid;
        }
        @media (max-width: $phoneBreakpoint) {
            padding: 5px 50px;
            margin-top: -60px;
            justify-content: flex-start;
        }
        .hireMe,
        .resume {
            display: inline-block;
        }
        .hireMe{
            @media (max-width: $phoneBreakpoint) {
                color: $black;
            }
        }
        .resume{
            background-color: $lightBlue;
            color: white;
            &:hover{
                @include neo-pressed-light-custom-colour($darkBlue, 1);
            }
        }
     }
  }

  .introImageDiv{
    @media (max-width: $tabletBreakpoint) {
        //margin-top: -300px;
        width: 300px;
    }
    img{
        z-index: 0;
        max-width:500px;
        animation: updown infinite 10s;
        pointer-events: none;
        @media (max-width: $tabletBreakpoint) {
            width: 300px;
        }
    }
    @include updownanimation();
  }

  .discoverWrapper {
    @include flex();
    width: 100%;
    position: absolute;
    bottom: 20px;
    text-align: center;
    transform: scale(0.8);
    z-index: 10;
    @include transition(0.3s);
    #discover{
      z-index: 10;
      span{
        z-index: 10;
      }
    }
    &:hover svg{
      @include transition(0.3s);
      fill: $darkBlue;
    }
    svg{
      fill: $grey;
      transform: translateX(2px) translateY(4.4px);
      @include transition(0.3s);
    }
  }
}

#aboutMe {
  @include flex();
  background-color: #fff;
  .heading{
      padding-top: 0px;
      margin-top: 100px;
      font-size: 2.5rem;
  }
  .aboutContent{
      @media (max-width: $tabletBreakpoint) {
        @include flex();
      }
      
      .aboutText {
        @include paragraphText($black, 1rem);
        padding: 0px;
        max-width: 80vw;
        // text-align: justify;
      }
      .aboutImage{
        @include flex();
        .desimg, .codeimg{
            width: 400px;
            height: auto;
            margin: 60px;
            padding-left: 30px;
            animation: updown infinite 10s;
            @include updownanimation();    
        }
        .codeimg{
            animation-delay: 2s;
        }
      }
  }

}

#whyDID {
  @include flex();
  flex-flow: column wrap;
  position: relative;
  .heading {
    align-self: flex-start;
    font-size: 2.5rem;
  }
  .whyDIDText {
    max-width: 850px;
    text-align: justify;
    width: 80%;
    @include paragraphText($black, 1rem);
    padding: 30px 0px 150px 0px;

    .myTagline {
      font-weight: 700;
      font-size: 1.3rem;
      color: $darkBlue;
      letter-spacing: -0.02rem;
      span {
        color: $black;
      }
    }
  }
  .aboutVectorImage{
      position: absolute;
      bottom: 0;
      right: 70px;
      animation: updown infinite 10s;
      img{
        max-width: 470px;
        width: 100%;
        @media (max-width:$largetabletBreakpoint) {
          display: none;
        }
      }
  }
}

#Experience {
    // background-color: inherit;
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23bababa' fill-opacity='0.51'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");  
  .expheading {
    // transform: rotate(-90deg);
    font-size: 2.5rem;
  }
  .orgList {
    @include paragraphText($black, 1.4rem);
    @include flex();
    position: relative;

    .orgCard {
        max-width: 1000px;
      @include paragraphText($black, 1.3rem);
      @include dim(80vw, 110%, 0vw, 110%);
      @include neo-unpressed-light();
      @include flex(center, center, center);
      @include transition(0.3s);
      flex-flow: column wrap;
      margin: 20px 30px;
      align-content: left;
      border-radius: 15px;
      padding: 30px;
      cursor: pointer;
      @media (max-width: $tabletBreakpoint) {
          width: 90vw;
      }
      //
      .orgLogo {
        align-self: flex-end;
        //position: absolute;
        padding-right: 20px;
        margin-top: 20px;
        margin-bottom: -65px;
        display: block;
        svg, img{
            width: 50px;
            height: 50px;
            @include neo-unpressed-light();
            padding: 3px;
        }
        img{
            border-radius: 50%;
        }
      }
      .orgRole {
        @include font($black, 2rem, 700);
        align-self: flex-start;
        padding: 10px;
        @media (max-width:$tabletBreakpoint) {
            width: 100%;
            padding-right: 55px;
            align-self: center; 
        }
      }
      .orgName {
        align-self: flex-start;
        padding-left: 10px;
        font-size: 1.2rem;
        @media (max-width:$tabletBreakpoint) {
            width: 100%;
            padding-right: 55px;
            align-self: center;
        }
      }
      .orgDate {
        align-self: flex-start;
        padding-left: 10px;
        font-size: 1.2rem;
        color: $darkBlue;
        @media (max-width:$tabletBreakpoint) {
            width: 100%;
            padding-right: 55px;
            align-self: center;
        }
      }
      .orgDescription {
        @include paragraphText($black, 1rem);
        padding: 10px;
      }
      .orgLink{
          transform: scale(0.8) translateX(15px);
      }
    }
  }
}

#projectsSection {
  @include dim(100%, 100%, 100vw, 100vh);
  @include flex(center, center, center);

  .section2Heading {
    @include font($grey, 2rem, 700);
  }
  .heading{
      font-size: 2.5rem;
  }
  //.projectsScrollView{
    //   width: 75%;
    //   height: fit-content;
    //   border-radius: 20px;
    //   padding: 30px;
    //   @include neo-unpressed-light(1.3);
    //   @include flex();
      .projectsCardsDiv {
        @include dim(80%, 50%);
        @include flex();
        // overflow-x: scroll;
        // display: inline-flex;
        // width: 10000px !important;
        align-items: flex-start;
        @media (max-width: $tabletBreakpoint) {
            margin-top: -30px;
            width: 100vw;
        }
        .projectsBox {
          @include dim(fit-content, fit-content);
          @include neo-unpressed-light();
          @include flex(center, center, center);
          @include transition(0.3s);
          flex-flow: column wrap;
          max-width: 500px;
          margin: 100px 20px;
          border-radius: 15px;
          cursor: pointer;
          @media (max-width: $tabletBreakpoint) {
            width: 90vw;
          }
          &:hover {
            transform: scale(1.05);
            @include transition(0.3s);
            @include neo-unpressed-light(1.3);
          }
          .projectsBoxImage {
              width: inherit;
            img {
              width: 100%;
              max-width: 500px;
              border-radius: 15px;
              border: 1px solid rgb(218, 218, 218);
              @include neo-unpressed-light(1.2);
            }
    
            .projectsBoxText {
              padding: 30px;
              .projectName {
                @include font($black, 2rem, 700);
              }
              .projectTech {
                margin-top: 10px;
                border-radius: 50px;
                height: 50px;
                @include neo-pressed-light();
                .projectIcons {
                  // border: solid 1px;
                  display: inline-block;
                  padding: 10px;
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  margin-top: 0px;
    
                  @include neo-unpressed-light();
                  svg {
                    fill: $darkBlue;
                    width: 30px;
                    height: 30px;
                  }
                }
                .projectTechText {
                  display: inline-block;
                  padding-left: 20px;
                  transform: translateY(-5px);
                  @include font($lightBlue, 1.5rem, 700);
                }
              }
              .projectDate {
                @include font($grey, 1.5rem, 400);
              }
            }
            .projectExpandedContent {
              // display: none;
              .projectDescription {
                @include paragraphText($black, 1rem);
                padding: 0px 30px;
              }
              .projectImages {
                padding-left: 30px;
                .projectImagesSmall {
                  display: inline-block;
                  padding: 15px 5px 15px 0px;
                  width: 130px;
                  height: 130px;
                  //border: solid;
                  img {
                    width: 120px;
                    border-radius: 10px;
                    display: inline-block;
                  }
                }
              }
              .projectLinkWrapper {
                @include flex();
                transform: scale(0.8);
              }
            }
          }
        }
   }
}

#testimonialsSection {
  @include dim(100%, 100%, 100vw, 130vh);
  @include flex(center, center, center);

  .whatOthersSayDiv {
    @include flex();
    flex-flow: column wrap;
    .wOSHeading {
      @include headingText(fit-content, $grey);
      padding: 90px 0px;
      font-size: 2.5rem;
      // border: solid;
    }
    .wOSContainer {
      @include flex();
      align-items: flex-start;

      .wOSCol-1 {
        @include dim(960px, 100%, 0%, auto);
        @include neo-unpressed-light();
        @include flex();
        max-width: 90vw;
        padding: 35px;
        flex-flow: column wrap;
        border-radius: 15px;
        position: relative;

        .wOSPName {
          @include paragraphText($darkBlue, 2.2rem, 2rem);
          font-weight: 800;
          padding: 10px;
          align-self: flex-start;
          @media (max-width: $phoneBreakpoint) {            
            margin-right: 90px;
          }
        }
        .wOSPQualication {
          @include paragraphText($grey, 1.5rem, 2rem);
          font-weight: 600;
          padding: 10px;
          align-self: flex-start;
        }
        .wOSImage {
          align-self: flex-end;
          margin-top: -80px;
          margin-bottom: 40px;
          margin-right: 20px;
          @media (max-width: $phoneBreakpoint) {
            margin-top: -150px;
            margin-right: 0px;
            margin-bottom: 80px;
            position: relative;
            border: solid;
          }
          svg, img {
            @include neo-unpressed-light();
            border: solid 5px $lightBlue;
            border-radius: 50%;
            transform: scale(1.6);
          }
        }
        .wOSPComment {
          @include paragraphText($black, 1rem);
          padding: 10px;
        }
      }
    }
    .wOSImageList {
      @include flex();
      @mixin ImageULTesti {
          padding: 10px;
        // border: solid;
        @include transition(0.3s);
        display: inline-block;
        cursor: pointer;
        &:hover {
          transform: scale(1.2);
          @include transition(0.3s);
        }
        img {
            border-radius: 50%;
            pointer-events: none;
        }
    }
      .wOSImageListUL {
        @include flex();
        vertical-align: middle;
        padding: 35px;
        .wOSListItem {
            vertical-align: middle;
            width: 80px;
          height: 80px;
          @include ImageULTesti();
          img {
            width: 60px;
            height: 60px;
          }
        }
        .activeTesti {
          width: 100px;
          height: 100px;
          transform: translateY(0px);
          @include ImageULTesti();
          img {
            border: solid $darkBlue 5px;
            width: 80px;
            height: 80px;
          }
          &:hover {
            transform: scale(1);
          }
        }
      }
    }
  }
}

#skillsSection {
  .heading{
      font-size: 3rem;
  }
  .myskillsContainer {
    @include flex();
    flex-flow: column wrap;
    // border: solid;
    .skillsCategoryContainer {
      padding: 40px;
      text-align: center;
      // border: solid;
      .skillsCategoryHeading {
        @include paragraphText($black, 2.5rem);
        font-weight: 700;
        padding: 30px 0px;
        vertical-align: middle;
        // border: solid;
        small {
          vertical-align: middle;
          background-color: $darkBlue;
          border-radius: 5px;
          padding: 5px;
          color: white;
          transform: translateY(-20px);
          font-size: 1rem;
        }
      }
      .DesigningSection,
      .codingSection {
        @include transition(0.3s);
        @include flex();
        max-width: 600px;
        border: solid transparent;
        height: auto;
        // border: solid;

        .designSkill {
          @include transition(0.3s);
          width: 100px;
          height: 100px;
          margin: 10px;
          border-radius: 10px;
          @include neo-unpressed-light();
          text-align: center;
          cursor: pointer;
          &:hover {
            transition: linear;
            height: 100px;
            width: fit-content;
            min-width: 200px;
            @include neo-pressed-light();
            @include transition(0.4s);
            .skillDescription {
              opacity: 1;
              visibility: visible;
              font-size: 1.1rem;
              transition-delay: 0.4s;
              transform: translateX(0px) translateY(-30px);
              @include transition(0.8s);

            }
            svg {
              @include transition(0.3s);
              fill: $lightBlue;
            }
          }

          svg {
            @include transition(0.3s);
            display: inline-block;
            height: 100px;
            padding: 10px;
            &:hover {
              fill: $lightBlue;
              @include transition(0.3s);
            }
          }

          .skillDescription {
            //@include transition(0.8s);
            display: absolute;
            margin-top: -190px;
            opacity: 0;
            visibility: hidden;
            //transition-delay: 0.6s;
            transform: translateX(30px) translateY(-30px);
            display: inline-block;
            font-size: 1.4rem;
            text-align: left;
            padding-left: 10px;
          }
        }
      }
    }
  }
}

#myWorksSection {
    @include flex();
    background-color: $black;
    .heading{
        color: $backgroundTheme;
        font-size: 2.2rem;
    }
    .calenderWrapper{
        margin: 30px;
        padding: 30px;
        max-width: 1300px;
        width: fit-content;
        border-radius: 20px;
        // border: $grey solid 20px;
        @include neo-unpressed-dark(2);
        &::before{
            content:'My Github';
            font-size: 2rem;
            font-weight: 700;
            line-height: 5rem;
            color: $backgroundTheme;
        }
        .calendar{
            max-width: 1000px;
            width: 80vw;
            padding: 20px;
            border: none;
            border-radius: 15px;
            background-color: $backgroundTheme;
            *{
                color: $black;
            }
        }
    }
    .LI-profile-badge{
        padding: 30px;
        margin: 30px;
        border-radius: 20px;
        @include neo-unpressed-dark(2);
    }
}

#contactSection {
  //color: white;
  @include flex();
  flex-flow: row wrap;
  padding-bottom: 150px;
    .heading{
        font-size: 2.5rem;
    }
    @media (max-width: $tabletBreakpoint) {
        padding-bottom: 0px;
    }
  .contactDetailsWrapper {
    
    @include flex();
    width: 90%;
    max-width: 800px;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    @media (max-width: $tabletBreakpoint){
        justify-content: center;
        align-items: center;
        order: 2;
    }
    @mixin iconsRound {
        display: inline-block;
        padding: 10px;
        border-radius: 50%;
        margin: 7px;
        height: 50px;
        width: 50px;
        cursor: pointer;
        @include neo-unpressed-light();
        &:hover {
        @include neo-pressed-light();
        }
        svg {
        width: 30px;
        height: 30px;
        fill: $black;
        &:hover {
            fill: $darkBlue;
        }
        }
    }
    .contactDescription {
      @include paragraphText($black);
      font-size: 1.2rem;
      padding: 30px;
      @include flex();
      li{
          width: fit-content;
          height: fit-content;
          border-radius: 50px;
          padding: 0px 25px 12px 10px;
          cursor: pointer;
            &:hover{
                @include neo-pressed-light(1.2);
            }
            @media (max-width: $tabletBreakpoint) {
                padding: 0px 0px 0px 0px;
                width: 300px;
                @include flex();
            }
      }
      a{
        @media (max-width: $tabletBreakpoint) {
            padding: 10px;
        }
      }
        span {
            @include iconsRound();
            margin-right: 30px;
            transform: translateY(7px);
            @media (max-width: $tabletBreakpoint) {
                margin-left: 50%;
                transform: translateX(-20px);
            }
        }
        div{
            display: inline-block;
            @media (max-width: $tabletBreakpoint) {
                display: block;
                text-align: center;
            }
        }
    }
    .socialIconsList {
      padding: 30px;
      div {
        @include iconsRound();
      }
      @media (max-width: $tabletBreakpoint) {
        @include flex();
      }
    }
    p{
        margin-left: 40px;
        font-weight: 700;
        font-size: 1.2rem;
        color: $darkBlue;
        span{
            color: $black;
            svg{
                transform: translateY(1px);
                fill: $black;
                width: 1.2rem;
                height: 1.2rem;
            }
        }
    }
    .cdmeme{
        padding: 30px 30px;
        max-width: 700px;
        width: 100vw;
    }
    .CTAHome {
        max-width: 950px;
        width: 90vw;
        @include flex();
        flex-flow: row wrap;
        justify-content: flex-start;
        padding: 5px 10px;
        @media (max-width: $tabletBreakpoint) {
            padding: 30px 0px;
            margin-top: -40px;
            margin-bottom: 150px;
            justify-content: center;
            width: 110vw;
            a{
                margin-bottom: -40px;
            }
        }
        .hireMe,
        .contactMe {
            width: 250px;
            transform: translateX(22px) scale(0.8);
            display: inline-block;
            @include neo-unpressed-light();
            @include transition(0.3s);
            // border: solid 2px $darkBlue;
            &:hover{
                @include transition(0.3s);
            }
        }
        .hireMe{
            &:hover{
                @include neo-pressed-light(1.2);
            }
        }
        .contactMe{
            background-color: $lightBlue;
            transform: translateX(-10px) scale(0.8);
            color: white;
            @media (max-width: $tabletBreakpoint) {
                transform: translateX(20px) scale(0.8);
            }
            &:hover{
                @include neo-pressed-light-custom-colour($darkBlue);
            }
        }
     }
  }
  .contactsHeroImage{
    img{        
        max-width: 500px;
        pointer-events: none;
        animation: updown infinite 10s;
        @media (max-width: $tabletBreakpoint){
            width: 300px;
        }
    }
  }
}

.love {
  @include flex();
  background-color: $black;
  text-align: center;
  padding: 30px;
  font-size: 1rem;
  font-weight: 700;
  color: white;
}

.boldlink{
    font-weight: bold;
    background-color: $lightBlue;
    color: white;
    padding: 1px 4px 3px 7px;
    border-radius: 5px;
}
.item {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding-top: 75px;
    background: #ccc;
    text-align: center;
    color: #fff;
    font-size: 3em;
  }
  .heading {
    @include headingText(100%, $black);
    font-size: 4.5rem;
    padding: 100px 0px;
  }
  
  .roundedButton {
    @include roundedButtonLight();
  }
//Tooltip css
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  min-width: fit-content;
  width: 100%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  min-width: fit-content;
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 25px;
  position: absolute;
  z-index: 1;
  top: -8px;
  left: 120%;
  margin-top: 30px;

  height: 40px;
  //padding-top: 10px;
  font-size: 1.39rem;
  font-weight: 600 !important;
  //line-height: 1.4rem;
  //vertical-align: middle;
  @include flex();
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

///////////Fading Animations
.tooltip .tooltiptext {
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
}

////////////////////////////////
// @mixin tooltipAfter {
//     content: "";
//     position: absolute;
//     margin-top: -5px;
//     border-width: 10px;
//     border-style: solid;
// }

// .tooltiptextRight::after{
//     @include tooltipAfter();
//     top: 50% !important;
//     right: 100%; /* To the left of the tooltip */
//     border-color: transparent black transparent transparent;
// }

// .tooltiptextRight
// .tooltiptextTop{
//     @extend .tooltiptext;
// }
// .tooltiptextTop::after{
//     @include tooltipAfter();
//     top: 107% !important; /* At the bottom of the tooltip */
//     left: 47%;
//     border-color:black transparent transparent transparent;
// }

//Tab group Code
#myWorksSection {
  .tile {
    width: 80%;
    margin: 60px auto;
  }
  #tile-1 .tab-pane {
    padding: 15px;
    height: 80px;
  }
  #tile-1 .nav-tabs {
    position: relative;
    border: none !important;
    background-color: #fff;
    /*   box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); */
    border-radius: 6px;
  }
  #tile-1 .nav-tabs li {
    margin: 0px !important;
  }
  #tile-1 .nav-tabs li a {
    position: relative;
    margin-right: 0px !important;
    padding: 20px 40px !important;
    font-size: 16px;
    border: none !important;
    color: #333;
  }
  #tile-1 .nav-tabs a:hover {
    background-color: #fff !important;
    border: none;
  }
  #tile-1 .slider {
    display: inline-block;
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background-color: #39bcd3;
    position: absolute;
    z-index: 1200;
    bottom: 0;
    transition: all 0.4s linear;
  }
  #tile-1 .nav-tabs .active {
    background-color: transparent !important;
    border: none !important;
    color: #39bcd3 !important;
  }
}

 img{
    cursor: pointer;
    transition: 0.3s;
  }
  
  img:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.877); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    @include transition(0.3s);
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }