@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body,
html {
  background-color: #f1f1f1;
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100vw !important;
}

body {
  overflow-y: hidden;
}

*::-webkit-scrollbar {
  background-color: #00a2ff;
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  background-color: #2a2a2a;
  border-radius: 50px;
  width: 12px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #006eff;
}

::-moz-selection {
  background: #00a2ff;
  color: white;
}

::selection {
  background: #00a2ff;
  color: white;
}

li {
  list-style-type: none !important;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

section {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 100vw;
  min-height: 100vh;
  width: 100vw !important;
  margin: 0% 0px 0% 0px;
}

.navbarMobile {
  display: none;
}

.navbar {
  width: 100px;
  height: 100vh;
  min-width: 0px;
  min-height: 0px;
  position: fixed;
  display: block;
  overflow: visible;
  left: 0px;
  top: 0px;
  z-index: 100;
  background-color: #2a2a2a;
  border-radius: 0px 58px 0px 0px;
}

.navbar .logo {
  width: 90%;
  height: 90px;
  min-width: 0px;
  min-height: 0px;
  -webkit-box-shadow: 5px 5px 8px black, -5px -5px 8px #464646;
          box-shadow: 5px 5px 8px black, -5px -5px 8px #464646;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-top: 30px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.navbar .logo img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  pointer-events: none;
}

.navbar .navElementsUL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navElementsUL .navItem {
  -webkit-transition-duration: 0.3s !important;
          transition-duration: 0.3s !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  width: 80%;
  height: 80px;
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.navbar .navElementsUL .navItem:hover {
  -webkit-box-shadow: inset 4px 4px 6px black, 3px 3px 2px #464646;
          box-shadow: inset 4px 4px 6px black, 3px 3px 2px #464646;
  -webkit-transition-duration: 0.3s !important;
          transition-duration: 0.3s !important;
}

.navbar .navElementsUL .navItem:first-child {
  margin-top: 40px;
}

.navbar .navElementsUL .navItem svg {
  margin-top: 5px;
  margin-left: 2px;
  width: 30px;
  height: 30px;
  fill: #f1f1f1;
}

.navbar #activeNav {
  -webkit-box-shadow: 5px 5px 8px black, -5px -5px 8px #464646;
          box-shadow: 5px 5px 8px black, -5px -5px 8px #464646;
}

@media only screen and (max-width: 992px) {
  body .navbar {
    width: 100px;
    height: 100vh;
    min-width: 0px;
    min-height: 0px;
    position: fixed;
    display: none;
    overflow: visible;
    float: right;
    right: 0px;
    top: 0px;
    z-index: 100;
    background-color: #2a2a2a;
    border-radius: 0px 58px 0px 0px;
  }
  body .navMobile {
    display: none;
    position: fixed;
    right: 30px;
    bottom: 30px;
  }
  body .navMobile .navElementsULMobile {
    display: none;
  }
  body .navMobile .neo-circle {
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
    min-width: 0px;
    min-height: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    -webkit-box-shadow: 5px 5px 8px #cacaca, -5px -5px 8px white;
            box-shadow: 5px 5px 8px #cacaca, -5px -5px 8px white;
  }
  body .navMobile .neo-circle:hover {
    -webkit-box-shadow: inset 4px 4px 6px #dddddd, 3px 3px 2px white;
            box-shadow: inset 4px 4px 6px #dddddd, 3px 3px 2px white;
    -webkit-transition-duration: 0.5s !important;
            transition-duration: 0.5s !important;
  }
}

#home {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#home .introtextDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  z-index: 1;
}

@media (max-width: 992px) {
  #home .introtextDiv {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 992px) {
  #home .introtextDiv .introText {
    margin-top: -150px;
    margin-left: 30px;
  }
}

#home .introtextDiv .introText .hello {
  color: #2a2a2a;
  font-size: 2em;
  font-weight: 700;
  -webkit-transform: translateY(10px) translateX(5px);
          transform: translateY(10px) translateX(5px);
  margin-top: 30px;
}

#home .introtextDiv .introText .srikantSahoo {
  color: #00a2ff;
  font-size: 7rem;
  font-weight: 700;
}

@media (max-width: 992px) {
  #home .introtextDiv .introText .srikantSahoo #sahoo {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

#home .introtextDiv .introText .srikantSahoo svg #Srikant,
#home .introtextDiv .introText .srikantSahoo svg #_Sahoo {
  fill: #00a2ff;
  stroke: #00a2ff;
}

@media (max-width: 992px) {
  #home .introtextDiv .introText .srikantSahoo svg #Srikant,
  #home .introtextDiv .introText .srikantSahoo svg #_Sahoo {
    fill: #190088;
    stroke: #190088;
  }
}

#home .introtextDiv .CTAHome {
  max-width: 950px;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 5px 40px;
}

@media (max-width: 992px) {
  #home .introtextDiv .CTAHome {
    padding: 0px 0px;
    margin-top: -40px;
    margin-bottom: 150px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 110vw;
  }
}

#home .introtextDiv .CTAHome .hireMe,
#home .introtextDiv .CTAHome .resume {
  display: inline-block;
}

#home .introtextDiv .CTAHome .resume {
  background-color: #00a2ff;
  color: white;
}

#home .introtextDiv .CTAHome .resume:hover {
  -webkit-box-shadow: inset 4px 4px 6px #006eff, 3px 3px 2px white;
          box-shadow: inset 4px 4px 6px #006eff, 3px 3px 2px white;
}

@media (max-width: 992px) {
  #home .introImageDiv {
    width: 300px;
  }
}

#home .introImageDiv img {
  z-index: 0;
  max-width: 400px;
  -webkit-animation: updown infinite 10s;
          animation: updown infinite 10s;
  pointer-events: none;
}

@media (max-width: 992px) {
  #home .introImageDiv img {
    width: 300px;
  }
}

@-webkit-keyframes updown {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0);
            transform: translate3d(0px, 0px, 0);
  }
  33% {
    -webkit-transform: translate3d(-10px, -30px, 0);
            transform: translate3d(-10px, -30px, 0);
  }
  66% {
    -webkit-transform: translate3d(-20px, 10px, 0);
            transform: translate3d(-20px, 10px, 0);
  }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0);
            transform: translate3d(0px, 0px, 0);
  }
}

@keyframes updown {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0);
            transform: translate3d(0px, 0px, 0);
  }
  33% {
    -webkit-transform: translate3d(-10px, -30px, 0);
            transform: translate3d(-10px, -30px, 0);
  }
  66% {
    -webkit-transform: translate3d(-20px, 10px, 0);
            transform: translate3d(-20px, 10px, 0);
  }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0);
            transform: translate3d(0px, 0px, 0);
  }
}

#home .discoverWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  position: absolute;
  bottom: 20px;
  text-align: center;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

#aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background-color: #fff;
}

#aboutMe .heading {
  padding-top: 0px;
  margin-top: 100px;
  font-size: 2.5rem;
}

@media (max-width: 992px) {
  #aboutMe .aboutContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

#aboutMe .aboutContent .aboutText {
  color: #2a2a2a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.5rem;
  padding: 0px;
  max-width: 80vw;
}

#aboutMe .aboutContent .aboutImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#aboutMe .aboutContent .aboutImage .desimg, #aboutMe .aboutContent .aboutImage .codeimg {
  width: 400px;
  height: auto;
  margin: 60px;
  padding-left: 30px;
  -webkit-animation: updown infinite 10s;
          animation: updown infinite 10s;
}

@keyframes updown {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0);
            transform: translate3d(0px, 0px, 0);
  }
  33% {
    -webkit-transform: translate3d(-10px, -30px, 0);
            transform: translate3d(-10px, -30px, 0);
  }
  66% {
    -webkit-transform: translate3d(-20px, 10px, 0);
            transform: translate3d(-20px, 10px, 0);
  }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0);
            transform: translate3d(0px, 0px, 0);
  }
}

#aboutMe .aboutContent .aboutImage .codeimg {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#whyDID {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
}

#whyDID .heading {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 2.5rem;
}

#whyDID .whyDIDText {
  max-width: 850px;
  text-align: justify;
  width: 80%;
  color: #2a2a2a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.5rem;
  padding: 30px 0px 150px 0px;
}

#whyDID .whyDIDText .myTagline {
  font-weight: 700;
  font-size: 1.3rem;
  color: #006eff;
  letter-spacing: -0.02rem;
}

#whyDID .whyDIDText .myTagline span {
  color: #2a2a2a;
}

#Experience .expheading {
  font-size: 2.5rem;
}

#Experience .orgList {
  color: #2a2a2a;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  position: relative;
}

#Experience .orgList .orgCard {
  max-width: 1000px;
  color: #2a2a2a;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2.5rem;
  width: 80vw;
  height: 110%;
  min-width: 0vw;
  min-height: 110%;
  -webkit-box-shadow: 5px 5px 8px #cacaca, -5px -5px 8px white;
          box-shadow: 5px 5px 8px #cacaca, -5px -5px 8px white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-transition-duration: 0.3s !important;
          transition-duration: 0.3s !important;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  margin: 20px 0px;
  -ms-flex-line-pack: left;
      align-content: left;
  border-radius: 15px;
  padding: 30px;
  cursor: pointer;
}

@media (max-width: 992px) {
  #Experience .orgList .orgCard {
    width: 90vw;
  }
}

#Experience .orgList .orgCard .orgLogo {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: none;
}

#Experience .orgList .orgCard .orgRole {
  color: #2a2a2a;
  font-size: 2rem;
  font-weight: 700;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 10px;
}

#Experience .orgList .orgCard .orgName {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 10px;
  font-size: 1.2rem;
}

#Experience .orgList .orgCard .orgDate {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 10px;
  font-size: 1.2rem;
  color: #006eff;
}

#Experience .orgList .orgCard .orgDescription {
  color: #2a2a2a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.5rem;
  padding: 10px;
}

#Experience .orgList .orgCard .orgLink {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

#projectsSection {
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#projectsSection .section2Heading {
  color: #707070;
  font-size: 2rem;
  font-weight: 700;
}

#projectsSection .heading {
  font-size: 2.5rem;
}

#projectsSection .projectsCardsDiv {
  width: 80%;
  height: 50%;
  min-width: 0px;
  min-height: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 992px) {
  #projectsSection .projectsCardsDiv {
    margin-top: -30px;
    width: 100vw;
  }
}

#projectsSection .projectsCardsDiv .projectsBox {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 0px;
  min-height: 0px;
  -webkit-box-shadow: 5px 5px 8px #cacaca, -5px -5px 8px white;
          box-shadow: 5px 5px 8px #cacaca, -5px -5px 8px white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-transition-duration: 0.3s !important;
          transition-duration: 0.3s !important;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  max-width: 500px;
  margin: 100px 20px;
  border-radius: 15px;
  cursor: pointer;
}

@media (max-width: 992px) {
  #projectsSection .projectsCardsDiv .projectsBox {
    width: 90vw;
  }
}

#projectsSection .projectsCardsDiv .projectsBox:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: 0.3s !important;
          transition-duration: 0.3s !important;
  -webkit-box-shadow: 10px 10px 16px #cacaca, -10px -10px 16px white;
          box-shadow: 10px 10px 16px #cacaca, -10px -10px 16px white;
}

#projectsSection .projectsCardsDiv .projectsBox .projectsBoxImage img {
  width: 100%;
  border-radius: 15px;
}

#projectsSection .projectsCardsDiv .projectsBox .projectsBoxImage .projectsBoxText {
  padding: 30px;
}

#projectsSection .projectsCardsDiv .projectsBox .projectsBoxImage .projectsBoxText .projectName {
  color: #2a2a2a;
  font-size: 2rem;
  font-weight: 700;
}

#projectsSection .projectsCardsDiv .projectsBox .projectsBoxImage .projectsBoxText .projectTech {
  margin-top: 10px;
  border-radius: 50px;
  height: 50px;
  -webkit-box-shadow: inset 4px 4px 6px #dddddd, 3px 3px 2px white;
          box-shadow: inset 4px 4px 6px #dddddd, 3px 3px 2px white;
}

#projectsSection .projectsCardsDiv .projectsBox .projectsBoxImage .projectsBoxText .projectTech .projectIcons {
  display: inline-block;
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 0px;
  -webkit-box-shadow: 5px 5px 8px #cacaca, -5px -5px 8px white;
          box-shadow: 5px 5px 8px #cacaca, -5px -5px 8px white;
}

#projectsSection .projectsCardsDiv .projectsBox .projectsBoxImage .projectsBoxText .projectTech .projectIcons svg {
  fill: #006eff;
  width: 30px;
  height: 30px;
}

#projectsSection .projectsCardsDiv .projectsBox .projectsBoxImage .projectsBoxText .projectTech .projectTechText {
  display: inline-block;
  padding-left: 20px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: #00a2ff;
  font-size: 1.5rem;
  font-weight: 700;
}

#projectsSection .projectsCardsDiv .projectsBox .projectsBoxImage .projectsBoxText .projectDate {
  color: #707070;
  font-size: 1.5rem;
  font-weight: 400;
}

#projectsSection .projectsCardsDiv .projectsBox .projectsBoxImage .projectExpandedContent .projectDescription {
  color: #2a2a2a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.5rem;
  padding: 0px 30px;
}

#projectsSection .projectsCardsDiv .projectsBox .projectsBoxImage .projectExpandedContent .projectImages {
  padding-left: 30px;
}

#projectsSection .projectsCardsDiv .projectsBox .projectsBoxImage .projectExpandedContent .projectImages .projectImagesSmall {
  display: inline-block;
  padding: 15px 5px 15px 0px;
  width: 130px;
  height: 130px;
}

#projectsSection .projectsCardsDiv .projectsBox .projectsBoxImage .projectExpandedContent .projectImages .projectImagesSmall img {
  width: 120px;
  border-radius: 10px;
  display: inline-block;
}

#projectsSection .projectsCardsDiv .projectsBox .projectsBoxImage .projectExpandedContent .projectLinkWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

#testimonialsSection {
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 130vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#testimonialsSection .whatOthersSayDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
}

#testimonialsSection .whatOthersSayDiv .wOSHeading {
  color: #707070;
  font-size: 4rem;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-height: auto;
  text-align: center;
  letter-spacing: -1px;
  padding: 90px 0px;
  font-size: 2.5rem;
}

#testimonialsSection .whatOthersSayDiv .wOSContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#testimonialsSection .whatOthersSayDiv .wOSContainer .wOSCol-1 {
  width: 960px;
  height: 100%;
  min-width: 0%;
  min-height: auto;
  -webkit-box-shadow: 5px 5px 8px #cacaca, -5px -5px 8px white;
          box-shadow: 5px 5px 8px #cacaca, -5px -5px 8px white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 90vw;
  padding: 35px;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  border-radius: 15px;
}

#testimonialsSection .whatOthersSayDiv .wOSContainer .wOSCol-1 .wOSPName {
  color: #006eff;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2rem;
  font-weight: 800;
  padding: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#testimonialsSection .whatOthersSayDiv .wOSContainer .wOSCol-1 .wOSPQualication {
  color: #707070;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  font-weight: 600;
  padding: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#testimonialsSection .whatOthersSayDiv .wOSContainer .wOSCol-1 .wOSImage {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: -80px;
  margin-bottom: 40px;
  margin-right: 20px;
}

@media (max-width: 992px) {
  #testimonialsSection .whatOthersSayDiv .wOSContainer .wOSCol-1 .wOSImage {
    margin-top: -190px;
    margin-right: -20px;
    margin-bottom: 120px;
  }
}

#testimonialsSection .whatOthersSayDiv .wOSContainer .wOSCol-1 .wOSImage svg {
  -webkit-box-shadow: 5px 5px 8px #cacaca, -5px -5px 8px white;
          box-shadow: 5px 5px 8px #cacaca, -5px -5px 8px white;
  border: solid 5px #00a2ff;
  border-radius: 50%;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

#testimonialsSection .whatOthersSayDiv .wOSContainer .wOSCol-1 .wOSPComment {
  color: #2a2a2a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.5rem;
  padding: 10px;
}

#testimonialsSection .whatOthersSayDiv .wOSImageList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#testimonialsSection .whatOthersSayDiv .wOSImageList .wOSImageListUL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  vertical-align: middle;
  padding: 35px;
}

#testimonialsSection .whatOthersSayDiv .wOSImageList .wOSImageListUL .wOSListItem {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  padding: 10px;
  -webkit-transition-duration: 0.3s !important;
          transition-duration: 0.3s !important;
  display: inline-block;
  cursor: pointer;
}

#testimonialsSection .whatOthersSayDiv .wOSImageList .wOSImageListUL .wOSListItem:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition-duration: 0.3s !important;
          transition-duration: 0.3s !important;
}

#testimonialsSection .whatOthersSayDiv .wOSImageList .wOSImageListUL .wOSListItem img {
  border-radius: 50%;
  pointer-events: none;
}

#testimonialsSection .whatOthersSayDiv .wOSImageList .wOSImageListUL .wOSListItem img {
  width: 60px;
  height: 60px;
}

#testimonialsSection .whatOthersSayDiv .wOSImageList .wOSImageListUL .activeTesti {
  width: 100px;
  height: 100px;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  padding: 10px;
  -webkit-transition-duration: 0.3s !important;
          transition-duration: 0.3s !important;
  display: inline-block;
  cursor: pointer;
}

#testimonialsSection .whatOthersSayDiv .wOSImageList .wOSImageListUL .activeTesti:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition-duration: 0.3s !important;
          transition-duration: 0.3s !important;
}

#testimonialsSection .whatOthersSayDiv .wOSImageList .wOSImageListUL .activeTesti img {
  border-radius: 50%;
  pointer-events: none;
}

#testimonialsSection .whatOthersSayDiv .wOSImageList .wOSImageListUL .activeTesti img {
  border: solid #006eff 5px;
  width: 80px;
  height: 80px;
}

#testimonialsSection .whatOthersSayDiv .wOSImageList .wOSImageListUL .activeTesti:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#skillsSection .heading {
  font-size: 3rem;
}

#skillsSection .myskillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
}

#skillsSection .myskillsContainer .skillsCategoryContainer {
  padding: 40px;
  text-align: center;
}

#skillsSection .myskillsContainer .skillsCategoryContainer .skillsCategoryHeading {
  color: #2a2a2a;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  font-weight: 700;
  padding: 30px 0px;
  vertical-align: middle;
}

#skillsSection .myskillsContainer .skillsCategoryContainer .skillsCategoryHeading small {
  vertical-align: middle;
  background-color: #006eff;
  border-radius: 5px;
  padding: 5px;
  color: white;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  font-size: 1rem;
}

#skillsSection .myskillsContainer .skillsCategoryContainer .DesigningSection,
#skillsSection .myskillsContainer .skillsCategoryContainer .codingSection {
  -webkit-transition-duration: 0.3s !important;
          transition-duration: 0.3s !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 600px;
  border: solid transparent;
  height: auto;
}

#skillsSection .myskillsContainer .skillsCategoryContainer .DesigningSection .designSkill,
#skillsSection .myskillsContainer .skillsCategoryContainer .codingSection .designSkill {
  -webkit-transition-duration: 0.3s !important;
          transition-duration: 0.3s !important;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 8px #cacaca, -5px -5px 8px white;
          box-shadow: 5px 5px 8px #cacaca, -5px -5px 8px white;
  text-align: center;
  cursor: pointer;
}

#skillsSection .myskillsContainer .skillsCategoryContainer .DesigningSection .designSkill:hover,
#skillsSection .myskillsContainer .skillsCategoryContainer .codingSection .designSkill:hover {
  -webkit-transition: linear;
  transition: linear;
  height: 100px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 200px;
  -webkit-box-shadow: inset 4px 4px 6px #dddddd, 3px 3px 2px white;
          box-shadow: inset 4px 4px 6px #dddddd, 3px 3px 2px white;
  -webkit-transition-duration: 0.4s !important;
          transition-duration: 0.4s !important;
}

#skillsSection .myskillsContainer .skillsCategoryContainer .DesigningSection .designSkill:hover .skillDescription,
#skillsSection .myskillsContainer .skillsCategoryContainer .codingSection .designSkill:hover .skillDescription {
  opacity: 1;
  visibility: visible;
  font-size: 1.1rem;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  -webkit-transform: translateX(0px) translateY(-30px);
          transform: translateX(0px) translateY(-30px);
  -webkit-transition-duration: 0.8s !important;
          transition-duration: 0.8s !important;
}

#skillsSection .myskillsContainer .skillsCategoryContainer .DesigningSection .designSkill:hover svg,
#skillsSection .myskillsContainer .skillsCategoryContainer .codingSection .designSkill:hover svg {
  -webkit-transition-duration: 0.3s !important;
          transition-duration: 0.3s !important;
  fill: #00a2ff;
}

#skillsSection .myskillsContainer .skillsCategoryContainer .DesigningSection .designSkill svg,
#skillsSection .myskillsContainer .skillsCategoryContainer .codingSection .designSkill svg {
  -webkit-transition-duration: 0.3s !important;
          transition-duration: 0.3s !important;
  display: inline-block;
  height: 100px;
  padding: 10px;
}

#skillsSection .myskillsContainer .skillsCategoryContainer .DesigningSection .designSkill svg:hover,
#skillsSection .myskillsContainer .skillsCategoryContainer .codingSection .designSkill svg:hover {
  fill: #00a2ff;
  -webkit-transition-duration: 0.3s !important;
          transition-duration: 0.3s !important;
}

#skillsSection .myskillsContainer .skillsCategoryContainer .DesigningSection .designSkill .skillDescription,
#skillsSection .myskillsContainer .skillsCategoryContainer .codingSection .designSkill .skillDescription {
  display: absolute;
  margin-top: -190px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(30px) translateY(-30px);
          transform: translateX(30px) translateY(-30px);
  display: inline-block;
  font-size: 1.4rem;
  text-align: left;
  padding-left: 10px;
}

#myWorksSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background-color: #2a2a2a;
}

#myWorksSection .heading {
  color: #f1f1f1;
  font-size: 2.2rem;
}

#myWorksSection .calenderWrapper {
  margin: 30px;
  padding: 30px;
  max-width: 1300px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 16px black, -10px -10px 16px #464646;
          box-shadow: 10px 10px 16px black, -10px -10px 16px #464646;
}

#myWorksSection .calenderWrapper::before {
  content: 'My Github';
  font-size: 2rem;
  font-weight: 700;
  line-height: 5rem;
  color: #f1f1f1;
}

#myWorksSection .calenderWrapper .calendar {
  max-width: 1000px;
  width: 80vw;
  padding: 20px;
  border: none;
  border-radius: 15px;
  background-color: #f1f1f1;
}

#myWorksSection .calenderWrapper .calendar * {
  color: #2a2a2a;
}

#myWorksSection .LI-profile-badge {
  padding: 30px;
  margin: 30px;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 16px black, -10px -10px 16px #464646;
          box-shadow: 10px 10px 16px black, -10px -10px 16px #464646;
}

#contactSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  flex-flow: row wrap;
  padding-bottom: 150px;
}

#contactSection .heading {
  font-size: 2.5rem;
}

@media (max-width: 992px) {
  #contactSection {
    padding-bottom: 0px;
  }
}

#contactSection .contactDetailsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 90%;
  max-width: 800px;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 992px) {
  #contactSection .contactDetailsWrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

#contactSection .contactDetailsWrapper .contactDescription {
  color: #2a2a2a;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  font-size: 1.2rem;
  padding: 30px;
}

@media (max-width: 992px) {
  #contactSection .contactDetailsWrapper .contactDescription li {
    padding: 10px;
  }
}

#contactSection .contactDetailsWrapper .contactDescription span {
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  margin: 7px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 8px #cacaca, -5px -5px 8px white;
          box-shadow: 5px 5px 8px #cacaca, -5px -5px 8px white;
  margin-right: 30px;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

#contactSection .contactDetailsWrapper .contactDescription span:hover {
  -webkit-box-shadow: inset 4px 4px 6px #dddddd, 3px 3px 2px white;
          box-shadow: inset 4px 4px 6px #dddddd, 3px 3px 2px white;
}

#contactSection .contactDetailsWrapper .contactDescription span svg {
  width: 30px;
  height: 30px;
  fill: #2a2a2a;
}

#contactSection .contactDetailsWrapper .contactDescription span svg:hover {
  fill: #006eff;
}

@media (max-width: 992px) {
  #contactSection .contactDetailsWrapper .contactDescription span {
    margin-left: 50%;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}

#contactSection .contactDetailsWrapper .contactDescription div {
  display: inline-block;
}

@media (max-width: 992px) {
  #contactSection .contactDetailsWrapper .contactDescription div {
    display: block;
    text-align: center;
  }
}

#contactSection .contactDetailsWrapper .socialIconsList {
  padding: 30px;
}

#contactSection .contactDetailsWrapper .socialIconsList div {
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  margin: 7px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 8px #cacaca, -5px -5px 8px white;
          box-shadow: 5px 5px 8px #cacaca, -5px -5px 8px white;
}

#contactSection .contactDetailsWrapper .socialIconsList div:hover {
  -webkit-box-shadow: inset 4px 4px 6px #dddddd, 3px 3px 2px white;
          box-shadow: inset 4px 4px 6px #dddddd, 3px 3px 2px white;
}

#contactSection .contactDetailsWrapper .socialIconsList div svg {
  width: 30px;
  height: 30px;
  fill: #2a2a2a;
}

#contactSection .contactDetailsWrapper .socialIconsList div svg:hover {
  fill: #006eff;
}

@media (max-width: 992px) {
  #contactSection .contactDetailsWrapper .socialIconsList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

#contactSection .contactDetailsWrapper p {
  margin-left: 40px;
  font-weight: 700;
  font-size: 1.2rem;
  color: #006eff;
}

#contactSection .contactDetailsWrapper p span {
  color: #2a2a2a;
}

#contactSection .contactDetailsWrapper p span svg {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  fill: #2a2a2a;
  width: 1.2rem;
  height: 1.2rem;
}

#contactSection .contactDetailsWrapper .cdmeme {
  padding: 30px 30px;
  max-width: 700px;
  width: 100vw;
}

#contactSection .contactDetailsWrapper .CTAHome {
  max-width: 950px;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 5px 10px;
}

@media (max-width: 992px) {
  #contactSection .contactDetailsWrapper .CTAHome {
    padding: 30px 0px;
    margin-top: -40px;
    margin-bottom: 150px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 110vw;
  }
  #contactSection .contactDetailsWrapper .CTAHome a {
    margin-bottom: -40px;
  }
}

#contactSection .contactDetailsWrapper .CTAHome .hireMe,
#contactSection .contactDetailsWrapper .CTAHome .contactMe {
  width: 250px;
  -webkit-transform: translateX(22px) scale(0.8);
          transform: translateX(22px) scale(0.8);
  display: inline-block;
  -webkit-box-shadow: 5px 5px 8px #cacaca, -5px -5px 8px white;
          box-shadow: 5px 5px 8px #cacaca, -5px -5px 8px white;
  -webkit-transition-duration: 0.3s !important;
          transition-duration: 0.3s !important;
}

#contactSection .contactDetailsWrapper .CTAHome .hireMe:hover,
#contactSection .contactDetailsWrapper .CTAHome .contactMe:hover {
  -webkit-transition-duration: 0.3s !important;
          transition-duration: 0.3s !important;
}

#contactSection .contactDetailsWrapper .CTAHome .hireMe:hover {
  -webkit-box-shadow: inset 4px 4px 6px #dddddd, 3px 3px 2px white;
          box-shadow: inset 4px 4px 6px #dddddd, 3px 3px 2px white;
}

#contactSection .contactDetailsWrapper .CTAHome .contactMe {
  background-color: #00a2ff;
  -webkit-transform: translateX(-10px) scale(0.8);
          transform: translateX(-10px) scale(0.8);
  color: white;
}

@media (max-width: 992px) {
  #contactSection .contactDetailsWrapper .CTAHome .contactMe {
    -webkit-transform: translateX(20px) scale(0.8);
            transform: translateX(20px) scale(0.8);
  }
}

#contactSection .contactDetailsWrapper .CTAHome .contactMe:hover {
  -webkit-box-shadow: inset 4px 4px 6px #006eff, 3px 3px 2px white;
          box-shadow: inset 4px 4px 6px #006eff, 3px 3px 2px white;
}

#contactSection .contactsHeroImage img {
  max-width: 500px;
  pointer-events: none;
  -webkit-animation: updown infinite 10s;
          animation: updown infinite 10s;
}

@media (max-width: 992px) {
  #contactSection .contactsHeroImage img {
    width: 300px;
  }
}

.love {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background-color: #2a2a2a;
  text-align: center;
  padding: 30px;
  font-size: 1rem;
  font-weight: 700;
  color: white;
}

.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #fff;
  font-size: 3em;
}

.heading {
  color: #2a2a2a;
  font-size: 4rem;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 100%;
  min-height: auto;
  text-align: center;
  letter-spacing: -1px;
  font-size: 4.5rem;
  padding: 100px 0px;
}

.roundedButton {
  -webkit-box-shadow: 5px 5px 8px #cacaca, -5px -5px 8px white;
          box-shadow: 5px 5px 8px #cacaca, -5px -5px 8px white;
  background-color: #f1f1f1;
  border: none;
  padding: 15px 40px;
  margin-left: 0px !important;
  margin: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  -webkit-transition-duration: 0.3s !important;
          transition-duration: 0.3s !important;
  color: #707070;
  font-size: 2rem;
  font-weight: 900;
}

.roundedButton:hover {
  -webkit-box-shadow: inset 8px 8px 12px #dddddd, 6px 6px 4px white;
          box-shadow: inset 8px 8px 12px #dddddd, 6px 6px 4px white;
  color: #006eff;
  -webkit-transition-duration: 0.3s !important;
          transition-duration: 0.3s !important;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 100%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 25px;
  position: absolute;
  z-index: 1;
  top: -8px;
  left: 120%;
  margin-top: 30px;
  height: 40px;
  font-size: 1.39rem;
  font-weight: 600 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext {
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
}

#myWorksSection .tile {
  width: 80%;
  margin: 60px auto;
}

#myWorksSection #tile-1 .tab-pane {
  padding: 15px;
  height: 80px;
}

#myWorksSection #tile-1 .nav-tabs {
  position: relative;
  border: none !important;
  background-color: #fff;
  /*   box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); */
  border-radius: 6px;
}

#myWorksSection #tile-1 .nav-tabs li {
  margin: 0px !important;
}

#myWorksSection #tile-1 .nav-tabs li a {
  position: relative;
  margin-right: 0px !important;
  padding: 20px 40px !important;
  font-size: 16px;
  border: none !important;
  color: #333;
}

#myWorksSection #tile-1 .nav-tabs a:hover {
  background-color: #fff !important;
  border: none;
}

#myWorksSection #tile-1 .slider {
  display: inline-block;
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background-color: #39bcd3;
  position: absolute;
  z-index: 1200;
  bottom: 0;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

#myWorksSection #tile-1 .nav-tabs .active {
  background-color: transparent !important;
  border: none !important;
  color: #39bcd3 !important;
}

img {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

img:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.877);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  -webkit-transition-duration: 0.3s !important;
          transition-duration: 0.3s !important;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */